#joke-container.radius.shadow
  .jokes-title
    %h1
      =@title="This joke was told#{@joke.teller.blank? ? '' : " by #{@joke.teller}"} on #{@joke.created_at.to_s(:short)}"
  .joke-body
    -@joke.body.split("\n").each do |line|
      %p
        =line
    .clear
    .joke-author
      by
      =@joke.author
    .share-links
      %a{:name => "fb_share", :type => "button_count", :href => "http://www.facebook.com/sharer.php" }
        Share
      %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript" }
      %a{:href => "http://twitter.com/share", :class => "twitter-share-button", 'data-count' => "horizontal", :style => 'width: 87px;'}
        Tweet
      %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
      =render :partial => 'jokes/facebook_like'
  .clear

.joke-item
  .image.vote-circle
  .double-line
    Vote for this joke
    = link_to('', @joke)

.clear

.comments
  %h2
    Comments
  =render :partial => 'comments/index', :object => @joke
    
    

.controls
  .button.cancel
    = link_to 'Back', root_path

=render :partial => 'shared/flash_messages'
%script
  $(document).ready(function() { $('.joke-item').voteCircle({jokeContent : '.joke-body:first'}); });

