#joke-container.radius.shadow
  .jokes-title
    %h1
      =@title="This joke was told#{@joke.teller.blank? ? '' : " by #{@joke.teller}"} on #{@joke.created_at.to_s(:short)}"
  .joke-body
    -@joke.body.split("\n").each do |line|
      %p
        =line
    .clear
    .joke-author
      by
      =@joke.author
  .clear

.joke-item
  .image.vote-circle
  .double-line
    Vote for this joke
    = link_to('', @joke)

.clear

.comments
  %h2
    Comments
  =render :partial => 'comments/index', :object => @joke
    
    

.controls
  .button.cancel
    = link_to 'Back', root_path

%script
  $(document).ready(function() { $('.joke-item').voteCircle({jokeContent : '.joke-body:first'}); });

